/* .login{
    width: 502px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 150px;  
    padding: 80px;  
    background: #0826cd;  
    border-radius: 30px ;  
    opacity: 0.7;
    position: relative;
    top: 100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: center;
  }  
  .la{  
    color: #2f2424;  
    font-size: 17px;  
  }  
  .uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
  }  
  #Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
        
  }  
  #log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(0, 0, 0);  
    background-color: rgb(127, 219, 150);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }  
  span{  
    color: rgb(6, 6, 6);  
    font-size: 17px; 
  }  
  .urll{  
    float: right;
    position: relative;
    left: -20px;
    font-size: larger;
  } 
  .fpass{
    position: relative;
    left: -40px;
    font-size: larger;
  }
  .url{
    float: right;
  }
  .logo{
    text-align: center;
  }
  
 
  #login{
    position: relative;
    left: 30px;
    
  }
  .but{
    position: relative;
    top: -30px;
    left: 130px;
    
  }
  a{
    text-decoration: none;
    color: black;
  }
  body{
    /* background-image: url("../images/back.jpg");
    background-size: cover; */
    /* background-color: rgb(16, 126, 222);
  }
  .a{
    color: #121111;
  } */ 

  @keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.full {
    background-image: url('./Components/images/login\ img.webp');
    background-size: initial;
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    animation: slideIn 1s ease-in-out;
}

.outer {
    margin-left: 70%;
    height: 40%;
    width: 40%;
    animation: slideIn 1s ease-in-out;
}

#head,
#title {
  color:green;
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
}

#title {
    margin-top: 10px;
    color:rgb(47, 0, 255)
}

#t {
    color: rgb(25, 0, 255);
    margin-top: 20px;
    animation: slideIn 1s ease-in-out;
}

#usrnm,
#eml,
#pwd,
#mob {
    border: 2px solid rgb(0, 0, 0);
    height: 50px;
    width: 60%;
    background-color: white;
    animation: slideIn 1s ease-in-out;
}

#cname,
#cemail,
#cpassword,
#cphone {
    color: green;
}

.fields {
    margin-top: 90px;
    animation: slideIn 1s ease-in-out;
}

#lower {
    color: rgb(132, 0, 255);
    animation: slideIn 1s ease-in-out;
}